body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#ui {
  position: fixed;
  bottom: 15px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Arial;
  opacity: 0.7;
}
